<h1>Deposit</h1>
<form action="{% url 'account:deposit' %}" method="post">
    {% csrf_token %}
    <label>Select account name & ID</label><br>
    <select id="account" name="account">
    {% for account in account_record %}
        <option value="{{ account.id }},{{ account.name }}">{{ account.id }} : {{ account.name }}</option>
    {% endfor %}
    </select><br><br>
    <label for="amount">Enter amount you wish to deposit: </label><br>
    <input type="number" id="amount" name="amount"><br><br>

    <input type="submit" value="Submit">
</form>
